/*全局样式*/
body{
	word-break: break-all;
	font-family: "微软雅黑","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}
h5{font-weight: bold; padding-left: 15px;}
h5 span{color: red;font-weight: bold;padding-left: 5px; font-size: 18px;}
li{font-weight: bold; padding-bottom:15px; border-bottom: 1px solid #cccccc; margin-bottom: 30px;}
/*--全局样式--*/
.title{
	background-color: #7E827A;
	margin-bottom: 50px;
	padding: 20px;
}
.caption{
	color:#fff;
	font-family: "Microsoft Yahei";;
}
.content form label{
	padding-left:35px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;	
}
.content form label:hover{
	background-color: #E2F0D6;
}
.content form label span{	
	margin-left: 10px;
	background-color: #C77966;
}
.content form h5 em{
	color: #3498DB;
}
.content form p{
	font-size: 12px;
	margin-top: -15px;
	margin-bottom: 15px;
	color: #2980B9;
}
.content form #character label{
	display: block-inline;
}
#beWork{
	display: none;
}
.subt{
	width: 200px;
	margin: 0 auto;
	display: block;
}
.assist{
	display: none;
}
footer{
	margin-top: 60px;
	height: 100px;
	background-color: #2f343b;
}
footer p{
	color: #fff;
	font-size: 16px;
	line-height: 100px;
	margin-left:10%;
	margin-right: 10%;
}
footer p a{
	margin-left: 20px;
}

/*进度条*/
.completeShow{
	position: fixed;
	left: 1%;
	top:30%;
}
#outer{
	position: relative;
	left: 0px;
	top: 0px;
	width: 20px;
	border:1px solid #C9D787;
	border-radius: 2px;
	height: 202px;
}
#inner{
	position: relative;
	left: 0px;
	top: 0px;
	width: 18px;
	height: 0px;
	background-color: #7D8A2E;
}
#completeNumber{
	margin-top: 5px;
	font-size: 12px;
	color: #595241;
}

@media (max-width: 767px) {
	.container-fluid .row footer p{
		color: #fff;
		font-size: 16px;
		text-align: center;
		line-height: 30px;
	}
	.row footer .text-left{
		margin-top: 20px;
	}

	.completeShow{
		display: none;
	}

}
